/* Fonts icon */

@font-face {
  font-family: 'typicons';
  src: url("../fonts/typicons.eot");
  src: url("../fonts/typicons.eot?#iefix") format('embedded-opentype'),
  url("../fonts/typicons.woff") format('woff'),
  url("../fonts/typicons.ttf") format('truetype'),
  url("../fonts/typicons.svg#typicons") format('svg');
  font-weight: normal;static/fonts
  font-style: normal;
}

/* icon finish */


body {
  background: #86B4CC;
  padding: 0;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
}

.subject {
  font-family: 'open sans';
  letter-spacing: -2px;
  font-size: 33px;
  color: black;
  margin-bottom: 0px;
}

.subject2 {
  font-family: 'Verdana';
  letter-spacing: -0.5px;
  font-size: 11px;
  color: #4A4A4A;
  font-weight: bold;
}

.size1 { /* span */
  font-size: 50px;
}

.size2 {
  font-size: 35px;
}

.size3 { /* span */
  font-size: 22px;
}



.korea {
  font-family: 'Verdana';
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 50%;
  color: #4A4A4A;
  text-indent: 30px;
}

.korea-noindent {
  font-family: 'Verdana';
  font-size: 12px;
  letter-spacing: -1px;
  line-height: 50%;
  color: #4A4A4A;
}

.goback {
  color: white;
  text-align: right;
}


p {
  font-family: 'open sans';
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 300;   
  color: white;
}

#travel, #aboutme, #travel2 {
  display: none;
}

body .sm-button { /* enter key */
  position: relative;
  top: 0px;
  right: 0;
  text-transform: uppercase; /* 대문자 유지 */
  letter-spacing: 5px; /* 장평 */
  font-size: 42px;
  z-index: 10; /* 제일 위에 보이게 함 */
}

body .sm-button:hover { /* enter key */
  border-bottom: 4px solid white;
}

/* Start M E N U C S S */

.sm-nav:nth-child(2) {
  background: #7AAAC4;
}

.sm-menu .sm-nav:nth-child(2) .nav-inner > a{
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

a {
  text-decoration: none;
}

.page-container {
  min-height: 300px;
}


body > .sidemenu > .sm-wrapper > #leftmargin {
  text-align: center;
}


/* FINISH !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
M E N U C S S */

#explain {
  position: absolute;
  right: 10px;
  text-align: right;
  margin-top: 260px;
  line-height: 50%;
}

#home, #aboutme {
  height: 500px;
  width: 480px;
}

#travel2 {
  width: 480px;
}



/* new window */

#travel-new-window {
  display:none;
}