<!DOCTYPE html>
<html lang="en">
<head>
	<title>T.akara</title>
	<meta charset="UTF-8">
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}"/>  <!-- 원래 인덱스 자체 css -->
	<script type='text/javascript' src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
	<script type='text/javascript' src="{{url_for('static', filename='js/jquery-index.js')}}"></script> <!-- 원래 인덱스 자체 js -->
	<!-- about menu -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/square_menu.css')}}"/>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.square_menu.js')}}"></script>
	<!-- about menu finish -->
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href="{{url_for('static', filename='fonts/typicons.min.css')}}" />
</head>


<body>
	<audio loop>
		<source src="{{ (url_for('static', filename='res/audio/bgm.mp3')}}" type="audio/mpeg">
		</audio>
		<!-- Menu Open -->
		<div class="sidemenu sm-menu sm-bottom sm-vertical animated"><div class="sm-wrapper">
			<nav class="left sm-nav" id="leftmargin"><div class="nav-inner">
				<a href="#" id="home-click" class="enter">Home</a>
				<a href="#" id="aboutme-click" class="enter">About Me</a>
				<a href="#" class="travel-click enter">Travel</a>
				<a href="{{url_for('idea_page')}}" class="enter">My idea</a>
				<a href="#" id="contactme-click" class="noenter">Contact Me</a>
				<a href="http://facebook.com/kyoung706" target="_blank"><span class="typcn typcn-social-facebook size2"></span></a>
				<a href="#"><span class="typcn typcn-mail size2"></span></a>
			</div></nav>


			<nav class="right sm-nav">
				<!-- home start -->
				<div id="home" class="nav-inner">
					<p class="subject">Welcome to my page!<span class="typcn typcn-social-github size1"></span></p>
					<br>
					<p class="subject2"><span class="typcn typcn-star-full-outline size3"></span>TALK</p>
					<p class="korea">안녕하세요.</p>
					<p class="korea">할말이 없네요.</p>
					<p class="korea">하지만 칸을 이쁘게 채워야 하므로 글을 쓰도록 하겠습니다.</p>
					<p class="korea">천천히 둘러보시길.</p>
					<br>
					<p class="subject2"><span class="typcn typcn-notes-outline size3"></span>BGM</p> 
					<p class="korea">사카모토 류이치 - 고양이가 간다</p>
				</div>

				<!-- about me -->
				<div id="aboutme" class="nav-inner">
					<p class="subject">KYOYOUNG...<span class="typcn typcn-sort-alphabetically-outline size1"></span></p>
					<p><img src="{{ (url_for('static', filename='res/img/kyoyoung.jpg')}}" alt="kyoyoung"/></p>
					<p class="korea-noindent">90. 7. 6. / Female / in Seoul / Graduated</p>
					<p class="subject2"><span class="typcn typcn-plus size3"></span>LIKE</p>
					<p class="korea">: 여행 / 사람만나기 / 뒹굴기 / DRINK</p>
					<p class="korea">: IU / INFINITE / 김수현 / 여진구</p>
					<p class="korea">: 고양이 / 코끼리 / 기린</p>
					<p class="subject2"><span class="typcn typcn-plus size3"></span>HATE</p>
					<p class="korea">: 현재 기억이 잘 안남. 추후에 업데이트하겠음.</p>
				</div>

				<!-- Travel menu show -->
				<div id="travel" class="nav-inner">
					<a href="{{url_for('southamerica')}}">South America</a><br>
					<a href="#" id="travel2-click">Other Countries</a>
				</div>

				<!-- preparing -->
				<div id="travel2" class="nav-inner">
					<p class="korea">준비중입니다.</p>
					<br>
					<a href="#" class="travel-click"><p class="korea-noindent goback"><span class="typcn typcn-arrow-left-outline size3"></span> Go Back</p></a>
				</div>

			</nav>
		</div></div>
		<!-- Menu finish -->


		<!-- index-->
		<a href="#" class="sm-button">Enter</a>
		<div id="explain">
			<p>This website doesn't work on IE.</p>
			<p>It is optimized on Chrome, Safari, and Firefox.</p>
		</div> <!-- index end -->

	</body>
	</html>